QLabel {
    font-size:14px;
    font-family:Microsoft JhengHei;
}
QWidget {
    background-color: #ffffff;
}

QSlider {
    min-height: 30px;
}
QSlider::groove:horizontal {
    height: 5px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #ffffff, stop:1 #ffffff);
    margin: 2px 0;
}

QSlider::handle:horizontal {
    height: 8px;
    width: 12px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #ffffff, stop:1 #ffffff);
    margin: -4px 0;
    border-radius: 6px;
}